<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a15632.poetrydemo">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许访问WiFi网络状态信息（必须） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许读取手机状态（必须） -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问网络状态（必须） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许写手机存储（必须） -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- GUI自动填充验证码功能（非必须） -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 从短信中读取验证码接口（非必须） -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--聊天室读取视频权限-->

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--聊天室在SDCard中创建与删除文件权限-->

    <application
        android:allowBackup="true"
        android:name=".talkingroom.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="诗韵"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Search" />
        <activity android:name=".CommunityDetail" />
        <activity android:name=".ComLikeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".drawer.WorksActivity" />
        <activity android:name=".drawer.CollectActivity" />
        <activity android:name=".drawer.AboutActivity" />
        <activity android:name=".AddCommunity" />
        <activity android:name=".DakaActivity" />
        <activity android:name=".DakaShareActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".PoemDetail" />
        <activity android:name=".SortDetail" />
        <activity android:name=".DoublePlayActivity" />
        <activity android:name=".drawer.XieyiActivity" />
        <activity android:name=".drawer.YinsiActivity" />
        <activity
            android:name=".drawer.CheckActivity"
            android:label="@string/title_activity_check" />
        <activity android:name=".drawer.PhoneActivity" />
        <activity android:name=".drawer.PasswordChooseActivity" />
        <activity android:name=".drawer.PasswordActivity"></activity>
        <activity android:name=".SystemMessage"></activity>
        <activity android:name=".OfficialMessage"></activity>
        <activity android:name=".drawer.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="keyboardHidden|orientation"></activity>

        <activity android:name=".talkingroom.activity.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".talkingroom.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".talkingroom.activity.Chat1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".talkingroom.activity.Splash1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>